<% provide(:title, @user.name) %>
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>
    </section>
      <%=render 'follow_form' if logged_in? %>

      <div id="my-row" class="row">
                <div class="col-xs-12 col-sm-4 panel">

    <% if @user.carrot != nil %>
      <%= raw(@output) %>
    <% end %>
      </div>
    </div>
      <!--<% @user.images.each do |image| %>
        <p><%= image.title %></p>
        <% if Rails.env.production? %>
          <% image_path = "/i/" + image.path %>
        <% else %>
          <% image_path = image.path %>
        <% end %>
        <div class="image_container">
          <%= link_to image_tag(image_path, :size => "", :crop => :fill), images_display_url(id: image.id) %>
        </div>
      <% end %>-->
