<%= form_for image, url: {action: :upload} do |f| %>
<% if image.errors.any? %>
<div id="error_explanation">
    <h5><%= pluralize(image.errors.count, "error") %>
        prohibited this order from being saved:</h5>
    <ul>
        <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control'  %>
<br>
<%= f.file_field :picture, class: 'form-control-file' %>
<br>
<%= submit_tag 'Create', class: "btn btn-primary"  %>
<% end %>
